# 25.03.10 작성 - 윤준영

/.vs

/Build/x64/Debug
/Build/x64/Release

/Lab/x64/Debug
/Lab/x64/Release
/Filter2D/x64/Debug
/Filter2D/x64/Release

/3rdParty

/git token.txt
/Common/x64
/Doc/Test Image/Depth Map/PointCloud.xyz
*.tif
